  <!--
      Assignment:01

      Name: Daljeet Bhinder
      ID:   300990506
      Sec: 019 
   -->
   <footer>
    <p>&copy; 2023 dbhinder's Assignmen01 COMP229</p>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/random-discern-a49b14293/" target="_blank">
            <img src="/images/icon2.png" alt="LinkedIn">
            <span>LinkedIn</span>
        </a>
        <a href="https://www.instagram.com/555ravii/" target="_blank">
            <img src="/images/icon1.png" alt="Instagram">
            <span>Instagram</span>
        </a>
    </div>
</footer>
