  <!--
      Assignment:01

      Name: Daljeet Bhinder
      ID:   300990506
      Sec: 019 
   -->
<!DOCTYPE html>
<html>
<head>
    <title>About Me - Dbinder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/header') %>

    <!-- About Me Page -->
    <h1>About Me</h1>
    <p>Hello, I'm Daljeet, a dedicated web developer with a profound interest in Artificial Intelligence and Software Technology. My academic journey in Artificial Intelligence at Centennial College has not only sharpened my programming skills but has also provided me with a deep understanding of machine learning algorithms, data analysis, and natural language processing. This knowledge fuels my passion for creating intelligent and innovative web solutions that integrate the power of AI, enhancing user experiences and solving real-world problems.</p>

    <p>My fascination with technology extends beyond the realm of web development. I am particularly intrigued by the intersection of technology and human behavior, exploring how digital innovations can shape our lives and society. From exploring the ethical implications of AI to envisioning future advancements in web applications, I am constantly driven by the desire to make a meaningful impact. My goal is to contribute to the development of cutting-edge technologies, making them accessible and user-friendly for everyone. I believe in the transformative power of technology to create a more connected, informed, and inclusive world, and I am excited to be part of this incredible journey.</p>
    
    <div class="spacer"></div>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>
