<!DOCTYPE html>
<html>
<head>
    <title>Kevin's Tech Hub - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- Include the navigation bar -->
    <%- include('partials/header') %>

    <!--<div class="spacer"></div> -->

    <!-- Your content for the Home page -->
    <div class="image-container">
        <img src="/images/image01.jpg" alt="myphoto" class="profile-card">
        <div class="welcome-container">
            <div class="welcome-message">
                <h1>Welcome to daljeet's portfolio!</h1>
                <p>Hey there! I'm Kevin, a passionate student pursuing Artificial Intelligence Software Engineering Technology. With a keen interest in the world of technology, I bring a beginner-level proficiency in web development to the table. My journey in the digital realm has not only honed my skills but also opened doors to freelancing opportunities, where I've delved into diverse projects.</p>
                <p>Explore my portfolio to witness my dedication to crafting innovative web solutions. From front-end designs to back-end functionalities, I'm here to turn ideas into interactive experiences. Let's collaborate and bring your visions to life!</p>
                <a href="/about" class="btn">Learn More About Me</a>
                <a href="/document/Resume.pdf" class="btn" download>Download Resume/CV</a>
            </div>
        </div>
    </div>
    
    <!-- Include the footer -->
    <%- include('partials/footer') %>
</body>
</html>
