  <!--
      Assignment:01

      Name: Daljeet Bhinder
      ID:   300990506
      Sec: 019 
   -->
<!DOCTYPE html>
<html>
<head>
    <title>Projects - Dbhinder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/header') %>

    <!-- Projects Page -->
    <h1>Projects</h1>

    <div class="project">
        <h2>Responsive onlinestore Website</h2>
        <p>I have created responsive onilestore website utilizing HTML, CSS, and JavaScript. This project allowed me to showcase my design skills and proficiency in front-end development. I focused on creating an intuitive user interface, smooth animations, and interactive elements to engage visitors effectively.</p>
    </div>

    <div class="project">
        <h2>Interactive Web Widgets</h2>
        <p>For this project, I designed and implemented various interactive web widgets using HTML, CSS, and JavaScript. These widgets included dynamic image sliders, interactive forms, and animated navigation menus. Through this project, I mastered the art of creating engaging user experiences while refining my skills in front-end technologies.</p>
    </div>

    <div class="project">
        <h2>Web-based JavaScript Game</h2>
        <p>In my exploration of JavaScript, I developed a web-based game that challenged users' problem-solving skills. The game utilized HTML canvas for rendering graphics and JavaScript for game logic. Creating this interactive game provided me with a deep understanding of JavaScript's capabilities, especially in the context of game development.</p>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>
