  <!--
      Assignment:01

      Name: Daljeet Bhinder
      ID:   300990506
      Sec: 019 
   -->
<!DOCTYPE html>
<html>
<head>
    <title>Resources - Dbinder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/header') %>

    <!-- Resources Page -->
    <h1>Resources</h1>
    <ul>
        <li><a href="https://www.w3schools.com/" target="_blank">W3Schools - Learn HTML, CSS, JavaScript, and more</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web" target="_blank">MDN Web Docs - Web Development Documentation</a></li>
        <li><a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp - Learn to Code and Help Nonprofits</a></li>
        <li><a href="https://www.codecademy.com/" target="_blank">Codecademy - Interactive Learning Platform</a></li>
    </ul>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>
