  <!--
      Assignment:01

      Name: Daljeet Bhinder
      ID:   300990506
      Sec: 019 
   -->
<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">   
</head>
<body>
    <!-- navigation bar -->
    <%- include('partials/header') %>

    <!-- the Services page -->
    <h1>Services</h1>
    <ul>
        <li><a href="/contact">Web Development</a></li>
        <li><a href="/contact">Mobile App Development</a></li>
        <li><a href="/contact">General Programming</a></li>
        
    </ul>

    <!-- the footer -->
    <%- include('partials/footer') %>
</body>
</html>
