/* style.css */

body {
  width: 100%;
  margin: 0;
  background-image: url("/images/background6.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
  font-family: 'Sans Serif', sans-serif;
}

title {
  font-family: 'Sans Serif', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: justify;
  margin-bottom: 20px;
}

ul li {
  font-size: 18px;
  margin-bottom: 15px;
}

ul li a:hover {
  color: rgba(0, 0, 0, 0.864); 
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  color: #4692c5;
}


.banner img {
  width: 100%;
}

nav {
  text-align: center;
  margin-top: 15px;
}

nav a {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 15px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  background-color: #3498db;
}

.spacer {
  height: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.image-container img.profile-card {
  width: 30%;
  height: auto;
  object-fit: cover;
  filter: grayscale(50%);
  opacity: 0.9;
  transition: 0.5s ease-in-out;
  border: none;
  padding: 0;
  margin: 0;
}

.welcome-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-48%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 2;
  max-width: 90%;
  width: 600px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.welcome-message {
  color: white;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.btn:hover {
  background-color: #4692c5;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.logo-container {
  position: fixed;
  bottom: 10px;
  right: 25px;
  text-align: right;
  z-index: 2;
}

.logo-container img {
  width: 5%;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.profile-image {
  width: 20%;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 10%;
  background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%);
  z-index: 1;
}

.profile-card:hover .profile-image {
  filter: brightness(1.1);
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.social-icons {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.social-icons a img {
  width: 25px;
  margin: 0 10px;
}

.social-icons a span {
  margin-top: 10px;
  font-size: 20px;
}

@media (max-width: 768px) {
  nav {
    display: block;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .welcome-message {
    padding: 10px;
  }

  nav a {
    padding: 8px 16px;
    font-size: 14px;
  }
}
